# Google Sheets API - Service Account credentials
GOOGLE_SHEETS_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Sheet IDs
INVITRO_MAIN_CONSOLIDATED_SHEET_ID=1WR8yukXZKtVlJgQcIuv410Lg-6kkjsRWoCz-CqZoG1c
INVITRO_EXPENSE_SHEET_ID=1Kn5aKs1H81UVKyuMCk1ipmg5SP-DrDMDwKtqWXxLd2g
